name: paracor
version: '3.8'

services:
  backend:
    build: ./backend
    container_name: paracor-backend
    ports:
      - "8002:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    # depends_on:
    #   - db
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: paracor-frontend
    ports:
      - "3002:3000"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - ./frontend/.env.local
    restart: unless-stopped
  db:
    image: postgres:15
    container_name: paracor-db
    restart: unless-stopped
    ports:
      - "5437:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env
  nginx:
    image: nginx:alpine
    container_name: paracor-nginx
    ports:
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
volumes:
  postgres_data:
